{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Question</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}
        
        {% for form in formset %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
        {% endfor %}

    
        <div class="form-group">
            <label for="id_question_text">Question Text:</label>
            {{ form.question_text }}
        </div>
    
        <div class="form-group">
            <label for="id_marks">Marks:</label>
            {{ form.marks }}
        </div>
    
        <h4>Choices</h4>
    
        {% for form in formset %}
            <div class="form-group">
              {{form.as_p}}
            </div>
        {% endfor %}
    
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'question_list' quiz.course.id quiz.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>


{% endblock %}


