{% extends 'base.html' %}
{% load form_filters %}
{% block title %}Manage Quiz{% endblock %}
{% block heading %}
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Manage Quiz</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock heading %}

{% block content %}
<div class="container mt-5">
    <h2>Upload a New Quiz</h2>
    <form method="POST" id="quiz-form">
        {% csrf_token %}
        
        <!-- Render the quiz form -->
        {{ quiz_form.as_p }}

        <button type="submit" class="btn btn-primary">Upload Quiz</button>
    </form>
</div>
{% endblock %}