{% extends 'base.html' %}

{% block title %}Manage Lectures{% endblock %}
{% block heading %}
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Manage Lectures</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock heading %}

{% block content %}
<div class="container mt-5">
  <div class="card-body mb-4 shadow-sm">
    <h1 class="card-title mb-4">{{ course.title }}</h1>
    <h5 class="card-text mb-4">{{ course.description }}</h5>
    <!-- Button to manage lectures -->
    {% if user.is_superuser %}
      <a href="{% url 'manage_lectures' course.id %}" class="btn btn-primary mb-4">Manage Lectures</a>
    {% endif %}
  </div>

  {% for lecture in lectures %}
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">{{ lecture.title }}</h2>
      <p class="card-text">{{ lecture.description }}</p>
      {% if lecture.video_file  %}
      <video controls class="w-100">
        <source src="{{ lecture.video_file.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
        
      {% elif lecture.video_url %}
      <div class="ratio ratio-16x9 mb-3">
        <iframe src="{{ lecture.video_url }}" title="Lecture video: {{ lecture.title }}" allowfullscreen></iframe>
      </div>
      {% else %}
        <p class="text-muted">No video available for this lecture.</p>
      {% endif %}
    </div>
  </div>
  {% empty %}
    <p>No lectures found for this course.</p>
  {% endfor %}
</div>
{% endblock %}